# Module 1: Data Structure - Series

In [9]:
from pandas import Series, DataFrame #Imported them in local name space(ofcourse will be used a lot)

In [10]:
import pandas as pd
import numpy as np

# Contents:
    1. Series
    2. Data_Frame

# 1. Series

One dimensional array

NumPy Data Type

Data labels called its index

In [16]:
obj = Series([1,2,4,5])

#INDEX- DATA format

In [17]:
obj

0    1
1    2
2    4
3    5
dtype: int64

In [18]:
obj.values

array([1, 2, 4, 5])

In [19]:
obj.index #Default Index starts from zero to N-1

RangeIndex(start=0, stop=4, step=1)

#Often its desirable to create any series with index:

In [23]:
obj2 = Series([4,9,8,7], index = ['a','b','c','d'])

In [24]:
obj2

a    4
b    9
c    8
d    7
dtype: int64

Indexing Operations:

In [26]:
obj2['a']

4

In [27]:
obj2[obj2 > 4]

b    9
c    8
d    7
dtype: int64

In [28]:
obj2*2 #Multiplication

a     8
b    18
c    16
d    14
dtype: int64

In [29]:
np.exp(obj2)

a      54.598150
b    8103.083928
c    2980.957987
d    1096.633158
dtype: float64

Series can also be thought like a dictionary: For example it is mapping index value to data value.

In [37]:
'b' in obj2
'c' in obj2

True

In [38]:
'f' in obj2

False

#### Dictionary to Series Transformation: Here the key is recognised as index in series.

In [40]:
sdic = {'b':2000, 'c':3000, 'a':1000, 'd':4000}

In [41]:
ser = pd.Series(sdic)

In [42]:
ser

b    2000
c    3000
a    1000
d    4000
dtype: int64

In [43]:
#Proper arrangment:

In [44]:
alpha = ['a','b','c','d','e']

In [45]:
obj4 = Series(sdic, index = alpha) #assigning index with variable alpha created above

In [46]:
obj4

a    1000.0
b    2000.0
c    3000.0
d    4000.0
e       NaN
dtype: float64

In [47]:
### isnull and #notnull will help us check if there is any missing data in our data file.

In [48]:
pd.isnull(obj4)

a    False
b    False
c    False
d    False
e     True
dtype: bool

In [49]:
pd.notnull(obj4)

a     True
b     True
c     True
d     True
e    False
dtype: bool

#Some more operations:

In [51]:
obj3 = Series([10,20,30,40],index = ['a','b','c','d'])

In [52]:
obj3

a    10
b    20
c    30
d    40
dtype: int64

In [53]:
obj4

a    1000.0
b    2000.0
c    3000.0
d    4000.0
e       NaN
dtype: float64

In [54]:
obj3 + obj4

a    1010.0
b    2020.0
c    3030.0
d    4040.0
e       NaN
dtype: float64

#### Both the Series object itself and its index have a name attribute

In [56]:
obj4.name = 'Money'

In [57]:
obj4.index.name = 'person'

In [58]:
obj4

person
a    1000.0
b    2000.0
c    3000.0
d    4000.0
e       NaN
Name: Money, dtype: float64